<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
</head>
<body>
    <p><a href="{{ url_for('home') }}">Home</a></p>
    <h1>Computing Flashcards</h1>
    <h1>Identify the correct matching term and definition:</h1>
    <h1 class="point">Your Points:</h1>
    <h1 class="point">{{ points }}</h1>

    <div style="display: flex">
        {% if range(0, 2)|random() %}
            <button style="font-size:20px; border: 2px solid black; padding: 2em 2em 2em 2em; flex:1; margin-right:1em" onclick="incrementPoints('{{ points }}', true)">
                <u>{{ correct_term }}</u><br>
                {{ correct_definition }}<br>
            </button>
            <button style="font-size:20px; border: 2px solid black; padding: 2em 2em 2em 2em; flex:1" onclick="incrementPoints('{{ points }}', false)">
                <u>{{ wrong_term }}</u><br>
                {{ wrong_definition }}<br>
            </button>
        {% else %}
            <button style="font-size:20px; border: 2px solid black; padding: 2em 2em 2em 2em; flex:1" onclick="incrementPoints('{{ points }}', false)">
                <u>{{ wrong_term }}</u><br>
                {{ wrong_definition }}<br>
            </button>

            <button style="font-size:20px; border: 2px solid black; padding: 2em 2em 2em 2em; flex:1; margin-right:1em" onclick="incrementPoints('{{ points }}', true)">
                <u>{{ correct_term }}</u><br>
                {{ correct_definition }}<br>
            </button>

        {% endif %}
    </div>
    <br>


    <form id="reset-points-form" method="post">
        <input type="submit" value="Reset points"/>
    </form>

    <script>
        function incrementPoints(points, isCorrect) {
            if (isCorrect) {
                points = parseInt(points) + 1; // Increment points locally
            }
            document.location.href = '/increment_points?points=' + points + '&is_correct=' + isCorrect;
        }

        document.getElementById('reset-points-form').addEventListener('submit', function(e) {
            e.preventDefault();
            document.location.href = '/reset_points';
        });
    </script>


</body>
</html>