<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computing Quiz</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
</head>
<body>
    <p><a href="{{ url_for('home') }}">Home</a></p>
    <h1>Computing Quiz</h1>
    <h2 style="text-align: center;">Test your Computing knowledge!</h2>
    <h3 style="text-align: center;"><u>Choose the number of questions:</u></h3>
    <form method="post">
        <input type="submit" name="total_qns" value="5"/>
        <input type="submit" name="total_qns" value="10"/>
        <input type="submit" name="total_qns" value="20"/>
        <input type="submit" name="total_qns" value="40"/>
    </form>
</body>
</html>